// bases values.
*{margin:0; padding:0;}
@import "mixins";

// light font.
@font-face {
    font-family: 'aleoregular';
    src: url('aleo-regular-webfont.eot');
    src: url('aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-regular-webfont.woff') format('woff'),
         url('aleo-regular-webfont.ttf') format('truetype'),
         url('aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aleolightitalic';
    src: url('aleo-lightitalic-webfont.eot');
    src: url('aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-lightitalic-webfont.woff') format('woff'),
         url('aleo-lightitalic-webfont.ttf') format('truetype'),
         url('aleo-lightitalic-webfont.svg#aleolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aleolight';
    src: url('aleo-light-webfont.eot');
    src: url('aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-light-webfont.woff') format('woff'),
         url('aleo-light-webfont.ttf') format('truetype'),
         url('aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

// declaring variables 
$red: #fe6969;
$blue: #2a3440;
$grey: #a6a6a6;
$serif-light: 'aleolight';
$serif-italic: 'aleolightitalic';
$serif-regular: 'aleoregular';
$sans: 'Source Sans Pro', sans-serif;
$link: #2C2C2E;
$link-hov: #1B94AB; 

// base styles 
a { text-decoration: none; color: inherit; }

// header styling.
    header { 
        .infos {
            margin-left: 8%;
            margin-top: 3%;
        }
        // h1 styling (name)
        h1 {
            font-family: $serif-light;
            font-size: 1.4em;
            color: $red;
            margin-bottom: 10px;
            letter-spacing: -2px;
        }
        // h2 styling (job)
        h2 {
            font-family: $serif-light;
            font-size: 1.2em;
            color: $grey;
            letter-spacing: -2px;

        }
        nav {
            text-align: right;
            margin-top: -2%;
            padding: 0px 60px 0 0;
            font-family: $serif-light;
                ul {
                    li {
                        list-style: none;
                        display: inline;
                        margin-left: 1%;
                            a {
                                color: $grey;
                                text-decoration: none;
                                font-size: 1.2em;
                                margin-right: 40px;
                            }
                            a:hover {
                                color: $red;
                                cursor: pointer;
                                @include transition;
                            }
                    }
                }
        }
    }

    // profile 
    .about {
        .profile {
            text-align: center;
            img {
                width: 60%;
                margin-top: 5%;
            }
            p {
                margin-left: 70%;
                font-family: 'Source Sans Pro', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
        .bio {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            p {
                font-family: 'Merriweather', Georgia, serif;
                color: $blue;
                font-size: 1.1em;
                margin-top: 4%;
                line-height: 150%;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: $link;
            }
            a:hover {
                text-decoration: underline;
                color: $link-hov;
            }
        }

    }

    // footer 
    footer {
        background-color: $blue;
        width: 100%;
        height: 230px;
        margin-top: 4%;
        h6 {
            color: #ffffff;
            font-family: $serif-light;
            letter-spacing: -2px;
            font-size: 1em;
            margin-left: 5%;
            padding-top: 6%;
        }
        .social {
            a {
                opacity: 1;
            }
            a:hover {
                opacity: 1;
            }

        }
    }

// responsive design for mobile phones.
@media screen and (max-width: 650px) {
    // header styling.
    header { 
        .infos {
            text-align: center;
            margin-top: 3%;
        }
        // h1 styling (name)
        h1 {
            font-family: $serif-light;
            font-size: 1.6em;
            color: $red;
            margin-bottom: 10px;
            letter-spacing: -2px;
        }
        // h2 styling (job)
        h2 {
            font-family: $serif-light;
            font-size: 1.4em;
            color: $grey;
            letter-spacing: -2px;

        }
        nav {
            text-align: right;
            margin-top: -2%;
            padding: 0px 60px 0 0;
            font-family: $serif-light;
            visibility: hidden;
                ul {
                    li {
                        list-style: none;
                        display: inline;
                        margin-left: 1%;
                            a {
                                color: $grey;
                                text-decoration: none;
                                font-size: 1.2em;
                                margin-right: 40px;
                            }
                            a:hover {
                                color: $red;
                                cursor: pointer;
                                @include transition;
                            }
                    }
                }
        }
    }

    // profile 
    .about {
        .profile {
            text-align: center;
            img {
                width: 100%;
                margin-top: 5%;
            }
            p {
                margin-left: 70%;
                font-family: 'Source Sans Pro', sans-serif;
                color: $grey;
                font-weight: 400;
                font-size: 1.1em;
            }
        }
        .bio {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            p {
                font-family: 'Merriweather', Georgia, serif;
                color: $blue;
                font-size: 1.1em;
                margin-top: 4%;
                line-height: 150%;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: $link;
            }
            a:hover {
                text-decoration: underline;
                color: $link-hov;
            }
        }

    }
    // footer 
    footer {
        background-color: $blue;
        width: 100%;
        height: 150px;
        margin-top: 4%;
        h6 {
            color: #ffffff;
            font-family: $serif-light;
            letter-spacing: -2px;
            font-size: 1em;
            text-align: center;
            padding-top: 6%;
        }
        .social {
            text-align: center;
            a {
                opacity: 1;
            }
            a:hover {
                opacity: 1;
            }

        }
    }
}

