*{margin:0;padding:0}
@import "mixins";

// declaring variables 
$font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$bg: #313841;
$txt-color: #bebebe;
$white: #ffffff;
$btn-color: #7dcee3;

// styling
body {
	background-color: $bg;
	font-family: $font;
	font-weight: 400;
	color: $white;
}
.script {
	text-align: center;
	padding-top: 3%;
	font-size: 2em;
	font-weight: 600;
}
.equation {
	text-align: center;
	padding-top: 10%;
	font-size: 2em;
	font-weight: 600;
}
.header {
	text-align: center;	
	img {
		width: 20%;
		height: auto;
	}
}
.ou {
	font-weight: 400;
	font-size: 1em;
}
h4 {
	font-family: $font;
	color: $white;
	font-weight: 400;
	text-align: center;
}
.back {
		background: $btn-color;
		border-radius: 15px;
		width: 15%;
		font-size: 1em;
		height: 3em;
		border: 0;
		cursor: pointer;
		color: #fff;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
}
footer {
	text-align: center;
	h4 {
		color: $white;
		font-family: $font;
		font-weight: 400;
		padding-top: 10%;
	}
	a {
		color: #ffffff;
		text-decoration: underline;
	}
}

// responsive design for mobile phones 
@media screen and (max-width: 640px) {
	.script {
		text-align: center;
		padding-top: 10%;
		padding-bottom: 10%;
		font-size: 1.8em;
		font-weight: 600;
	}
	.header {
	text-align: center;	
	img {
		width: 40%;
		height: auto;
	}
	}
	h4 {
		font-family: $font;
		color: #ffffff;
		font-weight: 400;
		text-align: center;
	}	
	footer {
		text-align: center;
		h4 {
			color: #ffffff;
			font-family: $font;
			font-weight: 400;
			padding-top: 55%;
		}
	}
}

// responsive for tablets
@media screen and (min-width: 700px) and (max-width: 1140px) {
	.script {
		text-align: center;
		padding-top: 5%;
		padding-bottom: 2%;
		font-size: 1.8em;
		font-weight: 600;
	}
	.header {
	text-align: center;	
	img {
		width: 30%;
		height: auto;
	}
	}
	h4 {
		font-family: $font;
		color: #ffffff;
		font-weight: 400;
		text-align: center;
	}	
	footer {
		text-align: center;
		h4 {
			color: #ffffff;
			font-family: $font;
			font-weight: 400;
			padding-top: 17%;
		}
	}
}