/*
* For the brave souls who get this far: You are the chosen ones,
* the valiant knights of programming who toil away, without rest,
* fixing our most awful code. To you, true saviors, kings of men,
* I say this: never gonna give you up, never gonna let you down,
* never gonna run around and desert you. Never gonna make you cry,
* never gonna say goodbye. Never gonna tell a lie and hurt you.
*/

// bases values.
* {
  margin: 0;
  padding: 0; }
@import 'mixins';

// Setting up Adam, a custom font used for headings. 
@font-face {
  font-family: 'adam';
  src: url("fonts/adam-webfont.eot");
  src: url("fonts/adam-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/adam-webfont.woff") format("woff"), url("fonts/adam-webfont.ttf") format("truetype"), url("fonts/adam-webfont.svg#adamregular") format("svg");
  font-weight: normal;
  font-style: normal; }

  // setting up variables
  $h1: 'adam';
  $font: 'Merriweather', serif;
  $text: #303839;
  $title: #222222;
  $link: #269DC5;
  $hover: #48C6D4;


  // styling
  body {
    a {
      @include transition;
      color: $link;
      text-decoration: none;
    }
    a:hover {
      color: $hover;
      @include transition;
    }
  }

  header {
    background-image: url(header.jpg);
    width:100%;
    height: 550px;
    background-size: cover;
      .logo {
        img {
        margin-top: 40px;
        margin-left: 80px;
      }
      }
  }
  .about {
    margin-bottom: 100px;
    h1 {
      font-family: $h1;
      color: $title;
      text-align: center;
      font-size: 1.5em;
      margin-top: 60px;
    }
    .text {
      font-family: $font;
      font-family: 700;
      letter-spacing: -0.5px;
      color: $text;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      line-height: 30px;
        p {
          -webkit-column-count: 2;
        }
    }
  }

  // responsive design for phones.
  @media screen and (min-width: 600px) and (max-width: 650px) {
     header {
    background-image: url(header.jpg);
    width:auto;
    height: 400px;
    background-size: cover;
      .logo {
        img {
        margin-top: 40px;
        margin-left: 80px;
      }
      }
  }
  .about {
    margin-bottom: 100px;
    h1 {
      font-family: $h1;
      color: $title;
      text-align: center;
      font-size: 1.5em;
      margin-top: 60px;
    }
    .text {
      font-family: $font;
      font-family: 700;
      letter-spacing: -0.5px;
      color: $text;
      text-align: center;
    }
  }
  }

