* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'aleoregular';
  src: url("aleo-regular-webfont.eot");
  src: url("aleo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("aleo-regular-webfont.woff") format("woff"), url("aleo-regular-webfont.ttf") format("truetype"), url("aleo-regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleolightitalic';
  src: url("aleo-lightitalic-webfont.eot");
  src: url("aleo-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("aleo-lightitalic-webfont.woff") format("woff"), url("aleo-lightitalic-webfont.ttf") format("truetype"), url("aleo-lightitalic-webfont.svg#aleolightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleolight';
  src: url("aleo-light-webfont.eot");
  src: url("aleo-light-webfont.eot?#iefix") format("embedded-opentype"), url("aleo-light-webfont.woff") format("woff"), url("aleo-light-webfont.ttf") format("truetype"), url("aleo-light-webfont.svg#aleolight") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap {
  width: 100%;
  height: 100%; }

header .infos {
  margin-left: 5%;
  margin-top: 3%; }
header h1 {
  font-family: "aleolight";
  font-size: 1.4em;
  color: #fe6969;
  margin-bottom: 10px;
  letter-spacing: -2px; }
header h2 {
  font-family: "aleolight";
  font-size: 1.2em;
  color: #a6a6a6;
  letter-spacing: -2px; }
header nav {
  text-align: right;
  margin-top: -2%;
  padding: 0px 60px 0 0;
  font-family: "aleolight"; }
  header nav ul li {
    list-style: none;
    display: inline;
    margin-left: 1%; }
    header nav ul li a {
      color: #a6a6a6;
      text-decoration: none;
      font-size: 1.2em;
      margin-right: 40px; }
    header nav ul li a:hover {
      color: #fe6969;
      cursor: pointer;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }

#splash {
  margin-top: 16%; }
  #splash h1 {
    font-family: "aleolight";
    color: #2a3440;
    font-size: 3.5em;
    text-align: center; }
    #splash h1 span {
      color: #fe6969; }
  #splash #chevron {
    margin-top: 6%;
    text-align: center; }
    #splash #chevron img {
      width: 70px;
      height: 70px; }

#portfolio {
  margin-top: 15%;
  text-align: center; }
  #portfolio h1 {
    font-family: "aleoregular";
    color: #2a3440;
    text-align: center;
    letter-spacing: -2px; }
  #portfolio h2 {
    font-family: "aleolight";
    color: #a6a6a6;
    text-align: center;
    letter-spacing: -2px;
    margin-top: 2%; }
  #portfolio .images {
    display: block;
    text-align: center;
    margin-top: 40px; }
  #portfolio a {
    display: inline-block;
    width: 400px;
    height: 300px;
    position: relative; }
  #portfolio img {
    width: 400px;
    height: 300px;
    left: 0;
    right: 0;}
  #portfolio span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    opacity: 0;
    background: rgba(254, 105, 105, 0.8);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
  #portfolio a:hover span {
    opacity: 1;
    -webkit-transition: all .5s ease; }
  #portfolio p {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    color: #FFF;
    text-align: center;
    padding: 0 10px;
    margin-top: 150px; }

.testimony {
  text-align: center; }
  .testimony h1 {
    color: #2a3440;
    font-family: "aleoregular";
    letter-spacing: -2px;
    margin-top: 4%; }
  .testimony .profile {
    margin-top: 3%; }
    .testimony .profile h3 {
      font-family: "aleoregular";
      color: #a6a6a6;
      letter-spacing: -2px;
      margin-top: 20px; }
    .testimony .profile h4 {
      font-family: "aleolightitalic";
      color: #a6a6a6;
      letter-spacing: -2px;
      font-size: 1.2em;
      margin-top: 1%; }
    .testimony .profile .dathing h5 {
      font-family: "Source Sans Pro", sans-serif;
      color: #a6a6a6;
      margin-top: 1%; }

footer {
  background-color: #2a3440;
  width: 100%;
  height: 230px;
  margin-top: 4%; }
  footer h6 {
    color: #ffffff;
    font-family: "aleolight";
    letter-spacing: -2px;
    font-size: 1em;
    margin-left: 5%;
    padding-top: 6%; }
  footer .social a {
    opacity: 0.5; }
  footer .social a:hover {
    opacity: 1; }

@media screen and (max-width: 650px) {
  header .infos {
    margin-left: 5%;
    margin-top: 3%; }
  header h1 {
    font-family: "aleolight";
    font-size: 1.4em;
    color: #fe6969;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: -2px; }
  header h2 {
    font-family: "aleolight";
    font-size: 1.2em;
    text-align: center;
    color: #a6a6a6;
    letter-spacing: -2px; }
  header nav {
    text-align: right;
    margin-top: -2%;
    visibility: hidden;
    padding: 0px 60px 0 0;
    font-family: "aleolight"; }
    header nav ul li {
      list-style: none;
      display: inline;
      margin-left: 1%; }
      header nav ul li a {
        color: #a6a6a6;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 40px; }
      header nav ul li a:hover {
        color: #fe6969;
        cursor: pointer;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease; }

  #splash {
    margin-top: 16%; }
    #splash h1 {
      font-family: "aleolight";
      color: #2a3440;
      font-size: 3em;
      text-align: center; }
      #splash h1 span {
        color: #fe6969; }
    #splash #chevron {
      margin-top: 6%;
      text-align: center;
      visibility: hidden; }
      #splash #chevron img {
        width: 70px;
        height: 70px; }

  #portfolio {
    margin-top: 15%;
    text-align: center; }
    #portfolio h1 {
      font-family: "aleoregular";
      color: #2a3440;
      text-align: center;
      letter-spacing: -2px; }
    #portfolio h2 {
      font-family: "aleolight";
      color: #a6a6a6;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 1.3em;
      text-align: center;
      letter-spacing: -2px;
      margin-top: 4%; }
    #portfolio .images {
      display: block;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px; }
    #portfolio a {
      display: inline-block;
      width: 400px;
      height: 300px;
      position: relative; }
    #portfolio img {
      width: 100%;
      height: 100%;
      left: 0;
      right: 0; }
    #portfolio span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(254, 105, 105, 0.8);
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
    #portfolio a:hover span {
      opacity: 1;
      -webkit-transition: all .5s ease; }
    #portfolio p {
      font-size: 20px;
      font-family: "Source Sans Pro", sans-serif;
      color: #FFF;
      text-align: center;
      padding: 0 10px;
      margin-top: 150px; }

  .testimony {
    text-align: center; }
    .testimony h1 {
      color: #2a3440;
      font-family: "aleoregular";
      letter-spacing: -2px;
      margin-top: 4%;
      margin-bottom: 20px; }
    .testimony .profile {
      margin-top: 3%; }
      .testimony .profile h3 {
        font-family: "aleoregular";
        color: #a6a6a6;
        letter-spacing: -2px;
        margin-top: 20px; }
      .testimony .profile h4 {
        font-family: "aleolightitalic";
        color: #a6a6a6;
        letter-spacing: -2px;
        font-size: 1.2em;
        margin-top: 4%; }
      .testimony .profile .dathing h5 {
        font-family: "Source Sans Pro", sans-serif;
        color: #a6a6a6;
        margin-top: 4%; }

  footer {
    background-color: #2a3440;
    width: 100%;
    height: 150px;
    margin-top: 4%; }
    footer h6 {
      color: #ffffff;
      font-family: "aleolight";
      letter-spacing: -2px;
      font-size: 1em;
      text-align: center;
      padding-top: 6%; }
    footer .social {
      text-align: center; }
      footer .social a {
        opacity: 0.5; }
      footer .social a:hover {
        opacity: 1; } }
